$def with (content)
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>$content.title</title>

    $if content.cssfiles:
        $for f in content.cssfiles.split():
            <link rel="stylesheet" href="$f" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="/static/main.css" type="text/css" media="screen" charset="utf-8" />
</head>
<body>
    <div id="watermark">
	<img src="/static/gue-logo.png"/>
    </div>
    <img src="/static/turtle.jpg" height="429px" width="851px"/>
    <table>
        <tr>
            <td><a href="/game/control">Game control</a></td>
            <td><a href="/game/list">Game list</a></td>
        </tr>
    </table>
    <p>$:content</p>
</body>
</html>
